.DashbordContainer{
    background-color: #F8F9FA;
  
}
.DashHeader{
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px ;
}
.DashbordMainArea{
    padding: 10px;
}

.DashContainer{
    display: flex;
    gap: 20px;
  
}

.DashbordSidebar{
    height: 100vh;
    border-right : solid 1px #ccc ;
    padding: 30px;
    display: grid;
    background-color: white;
    
}