/* This is the header section */

.header{
    
    height: 600px;
    margin-top: 0px;
    text-align: center;
    border-radius: 6px;
    place-items: center;
   border: 1px solid #ccc;
    
}

.HeaderText{
    padding-top: 60px;
}


.HeaderText h1{
    
    font-size: 2.8rem;
    
}
/* Home page .categories */
.CategoriesContainer{
    display: flex;
    gap: 20px;
    justify-content: center;
    place-items: center;
}
.DocCategory{
    background-color: var(--primary-color);
    padding: 30px;
    color: white;
    border-radius: 6px;
    display: flex;
    gap: 20px;
}
.DocCategory h2{
    text-align: left;
    font-size: 1.9rem;
}
.DocCategory a{
    text-align: left;
    text-decoration: underline;

}
.HosCategory{
    background-color: var(--primary-color);
    padding: 30px;
    color: white;
    border-radius: 6px;
    display: flex;
    gap: 20px;

}
.HosCategory h2{
    text-align: left;
    font-size: 1.9rem;

}
.HosCategory a{
    text-align: left;
    text-decoration: underline;
}


/* Featured Listings section */

.featuredList{
    text-align: center;
    font-size: 2.8rem;
    letter-spacing: 1.14px;
}
.featuredList span{
    border-bottom:  4px solid var(--primary-color);
}
.header{
    background-image: src();
}


/* registartion area hoem page */

.registertext h1{
    font-size: 2.8rem; 
}

.registertext{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin: auto;
    background-color: var(--primary-color);
}
.facilitybtn{
    border: 1px solid #ccc ;
    border-radius: 3px;
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
    font-size: 1.25rem;
}

.doctorbtn{
    border: 1px solid #ccc ;
    border-radius: 3px;
    padding: 10px;
    font-size: 1.25rem;

}



/* Media query for mobile screens */
@media (max-width: 768px) {
    .sercContent,.categories,.registertext  {
      grid-template-columns: 1fr; 
      width: 90%;
    }
    .h1{
        font-size: 1.25rem;
    }
  }