/* This is the header section */

.header{
    background-image: url(/images/care-connect-hero-image.jpg);
    height: 500px;
    margin-top: 0px;
    text-align: center;
    border-radius: 6px;
    place-items: center;
    
}
.HeaderText{
    padding-top: 60px;
}

.HeaderText p{
    color: #ffffff;
    
}
.HeaderText h1{
    color: #ffffff;
    font-size: 2.8rem;
    
}
/* Home page .categories */
.CategoriesContainer{
    display: flex;
    gap: 20px;
    justify-content: center;
    place-items: center;
}
.DocCategory{
    background-color: var(--primary-color);
    padding: 30px;
    color: white;
    border-radius: 6px;
    display: flex;
    gap: 20px;
}
.DocCategory h2{
    text-align: left;
    font-size: 1.9rem;
}
.HosCategory{
    background-color: var(--primary-color);
    padding: 30px;
    color: white;
    border-radius: 6px;
    display: flex;
    gap: 20px;

}
.HosCategory h2{
    text-align: left;
    font-size: 1.9rem;

}
.HosCategory a{
    text-align: left;
    border-bottom: 1px solid #ccc ;
}


/* Featured Listings section */

.featuredList{
    text-align: center;
    font-size: 2.8rem;
    letter-spacing: 1.14px;
}
.featuredList span{
    border-bottom:  4px solid var(--primary-color);
}
.header{
    background-image: src();
}


/* registartion area hoem page */

.registertext h1{
    font-size: 2.8rem; 
}

.registertext{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin: auto;
}
.facilitybtn{
    border: 1px solid #ccc ;
    border-radius: 3px;
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
    font-size: 1.25rem;
}

.doctorbtn{
    border: 1px solid #ccc ;
    border-radius: 3px;
    padding: 10px;
    font-size: 1.25rem;

}

/* Section with search area */
.searchContainer{
    background-color: var(--primary-color);
    padding: 50px;
    border-radius: 3px;

}
.searchContainer input{
    width: 100%;
    padding: 15px;
    border-radius: 3px;
}
.searchContainer p{
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sercContent{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin: auto;

}
.searchContainer h1{
    color: #ffffff;
    font-size: 2.8rem;

}

/* Media query for mobile screens */
@media (max-width: 768px) {
    .sercContent,.categories,.registertext  {
      grid-template-columns: 1fr; 
      width: 90%;
    }
    .h1{
        font-size: 1.25rem;
    }
  }