/* NavBar.module.css */
.avatar {
    background-color: var(--primary-color); /* Change to your preferred background color */
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
 
}
