.ProvidersForm{
    display: grid;
    gap: 10px;
}
.ProvidersForm input{

    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 3px;
}

.RegistartionConatiner{
    display: flex;
    flex: 1;
    justify-content: space-around;
}

.item {
    flex: 0 0 calc(50% - 10px);
    padding: 10px;
    text-align: centers;
}