/* sign up form  */
.line{
    height: 1px;
    background-color: black;
    width: 26%;
}
.formContainer{
    margin-left: 70px;
}
.Signupform{
    display: grid;
    gap: 14px;
    
}

.Signupform input{
    width: 60%;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 3px;
}

.Signupform h6{
    font-size: 14px;
   
}

.Signupform button{
    padding: 5px;
    border: 1px solid #ccc;
    width: 60%;
    color: #ffffff;
    background-color: var(--primary-color);
    border-radius: 3px;
}
.passwordContainer {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .eyeIcon {
    position: absolute;
    left: 55%;
    cursor: pointer;
    font-size: 22px;
  }
  