
.signupPage{
  display: flex;
  justify-content: space-between; /* Adjust as needed */
  align-items: center;
}

.formComponent{
  flex: 1;
  margin-left: 70px;
}


.SignupSidebar{
    display: grid;
    background-image:url(/images/userpagebg.jpg);
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    background-repeat: no-repeat;
    color: white;
    background-size: cover;

}

.topPart{
    display: flex;
    gap: 16px;
    height: 72vh;
    color: black;
}

.line{
    height: 1px;
    background-color: black;
    width: 50%;
    margin-top: 10px;
}

.bottomPart h1{
  font-size: 4rem;
  letter-spacing: 2px;
}

.navigationOption{
  display: flex;
   gap: 10px;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
   margin-top: 20%;

}
.navigationOption a{
  color: var(--primary-color);
}